In [1]:
import pandas as pd

In [12]:
cars=pd.read_csv(r'C:\Users\KIIT\Downloads\ClassNotebooks\cars.csv')

In [14]:
cars.shape

(53, 17)

In [18]:
cars.head(10)

,YEAR,Make,Model,Size,(kW),Unnamed: 5,TYPE,CITY (kWh/100 km),HWY (kWh/100 km),COMB (kWh/100 km),CITY (Le/100 km),HWY (Le/100 km),COMB (Le/100 km),(g/km),RATING,(km),TIME (h)
0,2012,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,NaN,100,7
1,2012,NISSAN,LEAF,MID-SIZE,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,0,NaN,117,7
2,2013,FORD,FOCUS ELECTRIC,COMPACT,107,A1,B,19.0,21.1,20.0,2.1,2.4,2.2,0,NaN,122,4
3,2013,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,NaN,100,7
4,2013,NISSAN,LEAF,MID-SIZE,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,0,NaN,117,7
5,2013,SMART,FORTWO ELECTRIC DRIVE CABRIOLET,TWO-SEATER,35,A1,B,17.2,22.5,19.6,1.9,2.5,2.2,0,NaN,109,8
6,2013,SMART,FORTWO ELECTRIC DRIVE COUPE,TWO-SEATER,35,A1,B,17.2,22.5,19.6,1.9,2.5,2.2,0,NaN,109,8
7,2013,TESLA,MODEL S (40 kWh battery),FULL-SIZE,270,A1,B,22.4,21.9,22.2,2.5,2.5,2.5,0,NaN,224,6
8,2013,TESLA,MODEL S (60 kWh battery),FULL-SIZE,270,A1,B,22.2,21.7,21.9,2.5,2.4,2.5,0,NaN,335,10
9,2013,TESLA,MODEL S (85 kWh battery),FULL-SIZE,270,A1,B,23.8,23.2,23.6,2.7,2.6,2.6,0,NaN,426,12

In [20]:
cars.tail()

,YEAR,Make,Model,Size,(kW),Unnamed: 5,TYPE,CITY (kWh/100 km),HWY (kWh/100 km),COMB (kWh/100 km),CITY (Le/100 km),HWY (Le/100 km),COMB (Le/100 km),(g/km),RATING,(km),TIME (h)
48,2016,TESLA,MODEL S 90D (Refresh),FULL-SIZE,386,A1,B,20.8,19.7,20.3,2.3,2.2,2.3,0,10.0,473,12
49,2016,TESLA,MODEL S P85D/P90D,FULL-SIZE,568,A1,B,23.4,21.5,22.5,2.6,2.4,2.5,0,10.0,407,12
50,2016,TESLA,MODEL S P90D (Refresh),FULL-SIZE,568,A1,B,22.9,21.0,22.1,2.6,2.4,2.5,0,10.0,435,12
51,2016,TESLA,MODEL X 90D,SUV - STANDARD,386,A1,B,23.2,22.2,22.7,2.6,2.5,2.6,0,10.0,414,12
52,2016,TESLA,MODEL X P90D,SUV - STANDARD,568,A1,B,23.6,23.3,23.5,2.7,2.6,2.6,0,10.0,402,12

In [22]:
cars.head()

,YEAR,Make,Model,Size,(kW),Unnamed: 5,TYPE,CITY (kWh/100 km),HWY (kWh/100 km),COMB (kWh/100 km),CITY (Le/100 km),HWY (Le/100 km),COMB (Le/100 km),(g/km),RATING,(km),TIME (h)
0,2012,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,NaN,100,7
1,2012,NISSAN,LEAF,MID-SIZE,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,0,NaN,117,7
2,2013,FORD,FOCUS ELECTRIC,COMPACT,107,A1,B,19.0,21.1,20.0,2.1,2.4,2.2,0,NaN,122,4
3,2013,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,NaN,100,7
4,2013,NISSAN,LEAF,MID-SIZE,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,0,NaN,117,7

In [24]:
cars[cars.isnull().any(axis=1)]

,YEAR,Make,Model,Size,(kW),Unnamed: 5,TYPE,CITY (kWh/100 km),HWY (kWh/100 km),COMB (kWh/100 km),CITY (Le/100 km),HWY (Le/100 km),COMB (Le/100 km),(g/km),RATING,(km),TIME (h)
0,2012,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,NaN,100,7
1,2012,NISSAN,LEAF,MID-SIZE,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,0,NaN,117,7
2,2013,FORD,FOCUS ELECTRIC,COMPACT,107,A1,B,19.0,21.1,20.0,2.1,2.4,2.2,0,NaN,122,4
3,2013,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,NaN,100,7
4,2013,NISSAN,LEAF,MID-SIZE,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,0,NaN,117,7
5,2013,SMART,FORTWO ELECTRIC DRIVE CABRIOLET,TWO-SEATER,35,A1,B,17.2,22.5,19.6,1.9,2.5,2.2,0,NaN,109,8
6,2013,SMART,FORTWO ELECTRIC DRIVE COUPE,TWO-SEATER,35,A1,B,17.2,22.5,19.6,1.9,2.5,2.2,0,NaN,109,8
7,2013,TESLA,MODEL S (40 kWh battery),FULL-SIZE,270,A1,B,22.4,21.9,22.2,2.5,2.5,2.5,0,NaN,224,6
8,2013,TESLA,MODEL S (60 kWh battery),FULL-SIZE,270,A1,B,22.2,21.7,21.9,2.5,2.4,2.5,0,NaN,335,10
9,2013,TESLA,MODEL S (85 kWh battery),FULL-SIZE,270,A1,B,23.8,23.2,23.6,2.7,2.6,2.6,0,NaN,426,12
10,2013,TESLA,MODEL S PERFORMANCE,FULL-SIZE,310,A1,B,23.9,23.2,23.6,2.7,2.6,2.6,0,NaN,426,12
11,2014,CHEVROLET,SPARK EV,SUBCOMPACT,104,A1,B,16.0,19.6,17.8,1.8,2.2,2.0,0,NaN,131,7
12,2014,FORD,FOCUS ELECTRIC,COMPACT,107,A1,B,19.0,21.1,20.0,2.1,2.4,2.2,0,NaN,122,4
13,2014,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,NaN,100,7
14,2014,NISSAN,LEAF,MID-SIZE,80,A1,B,16.5,20.8,18.4,1.9,2.3,2.1,0,NaN,135,5
15,2014,SMART,FORTWO ELECTRIC DRIVE CABRIOLET,TWO-SEATER,35,A1,B,17.2,22.5,19.6,1.9,2.5,2.2,0,NaN,109,8
16,2014,SMART,FORTWO ELECTRIC DRIVE COUPE,TWO-SEATER,35,A1,B,17.2,22.5,19.6,1.9,2.5,2.2,0,NaN,109,8
17,2014,TESLA,MODEL S (60 kWh battery),FULL-SIZE,225,A1,B,22.2,21.7,21.9,2.5,2.4,2.5,0,NaN,335,10
18,2014,TESLA,MODEL S (85 kWh battery),FULL-SIZE,270,A1,B,23.8,23.2,23.6,2.7,2.6,2.6,0,NaN,426,12
19,2014,TESLA,MODEL S PERFORMANCE,FULL-SIZE,310,A1,B,23.9,23.2,23.6,2.7,2.6,2.6,0,NaN,426,12
20,2015,BMW,i3,SUBCOMPACT,125,A1,B,15.2,18.8,16.8,1.7,2.1,1.9,0,NaN,130,4
21,2015,CHEVROLET,SPARK EV,SUBCOMPACT,104,A1,B,16.0,19.6,17.8,1.8,2.2,2.0,0,NaN,131,7
22,2015,FORD,FOCUS ELECTRIC,COMPACT,107,A1,B,19.0,21.1,20.0,2.1,2.4,2.2,0,NaN,122,4
23,2015,KIA,SOUL EV,STATION WAGON - SMALL,81,A1,B,17.5,22.7,19.9,2.0,2.6,2.2,0,NaN,149,4
24,2015,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,NaN,100,7
25,2015,NISSAN,LEAF,MID-SIZE,80,A1,B,16.5,20.8,18.4,1.9,2.3,2.1,0,NaN,135,5
26,2015,SMART,FORTWO ELECTRIC DRIVE CABRIOLET,TWO-SEATER,35,A1,B,17.2,22.5,19.6,1.9,2.5,2.2,0,NaN,109,8
27,2015,SMART,FORTWO ELECTRIC DRIVE COUPE,TWO-SEATER,35,A1,B,17.2,22.5,19.6,1.9,2.5,2.2,0,NaN,109,8
28,2015,TESLA,MODEL S (60 kWh battery),FULL-SIZE,283,A1,B,22.2,21.7,21.9,2.5,2.4,2.5,0,NaN,335,10
29,2015,TESLA,MODEL S (70 kWh battery),FULL-SIZE,283,A1,B,23.8,23.2,23.6,2.7,2.6,2.6,0,NaN,377,12
30,2015,TESLA,MODEL S (85/90 kWh battery),FULL-SIZE,283,A1,B,23.8,23.2,23.6,2.7,2.6,2.6,0,NaN,426,12
31,2015,TESLA,MODEL S 70D,FULL-SIZE,280,A1,B,20.8,20.6,20.7,2.3,2.3,2.3,0,NaN,386,12
32,2015,TESLA,MODEL S 85D/90D,FULL-SIZE,280,A1,B,22.0,19.8,21.0,2.5,2.2,2.4,0,NaN,435,12
33,2015,TESLA,MODEL S P85D/P90D,FULL-SIZE,515,A1,B,23.4,21.5,22.5,2.6,2.4,2.5,0,NaN,407,12

In [26]:
cars.columns

Index(['YEAR', 'Make', 'Model', 'Size', '(kW)', 'Unnamed: 5', 'TYPE',
       'CITY (kWh/100 km)', 'HWY (kWh/100 km)', 'COMB (kWh/100 km)',
       'CITY (Le/100 km)', 'HWY (Le/100 km)', 'COMB (Le/100 km)', '(g/km)',
       'RATING', '(km)', 'TIME (h)'],
      dtype='object')

In [30]:
cars[['(kW)','CITY (kWh/100 km)']].agg(['min','mean','max'])

            (kW)  CITY (kWh/100 km)
min    35.000000           15.20000
mean  190.622642           19.64717
max   568.000000           23.90000

In [34]:
cars.dropna(axis=1, how='all',inplace = True)

In [36]:
cars.isnull()

,YEAR,Make,Model,Size,(kW),Unnamed: 5,TYPE,CITY (kWh/100 km),HWY (kWh/100 km),COMB (kWh/100 km),CITY (Le/100 km),HWY (Le/100 km),COMB (Le/100 km),(g/km),RATING,(km),TIME (h)
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
30,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
31,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
32,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
33,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
34,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
40,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
42,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
43,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
44,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
45,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
46,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
47,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
49,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
50,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
51,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
52,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [37]:
cars.head()

,YEAR,Make,Model,Size,(kW),Unnamed: 5,TYPE,CITY (kWh/100 km),HWY (kWh/100 km),COMB (kWh/100 km),CITY (Le/100 km),HWY (Le/100 km),COMB (Le/100 km),(g/km),RATING,(km),TIME (h)
0,2012,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,NaN,100,7
1,2012,NISSAN,LEAF,MID-SIZE,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,0,NaN,117,7
2,2013,FORD,FOCUS ELECTRIC,COMPACT,107,A1,B,19.0,21.1,20.0,2.1,2.4,2.2,0,NaN,122,4
3,2013,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,NaN,100,7
4,2013,NISSAN,LEAF,MID-SIZE,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,0,NaN,117,7

In [38]:
animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

In [40]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [43]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [44]:
import numpy as np
np.nan == None

False

In [45]:
np.isnan(np.nan)

True

In [46]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [47]:
s.index[3]

'Taekwondo'

In [48]:
type(s.index)

pandas.core.indexes.base.Index

In [49]:
s.iloc[3]

'South Korea'

In [53]:
s.loc['Golf']

'Scotland'

In [57]:
s = pd.Series([104.30, 121.30, 401.50, 55.43])

In [58]:
total=0
for i in s:
    total+=i
print(total)

682.53

In [60]:
import numpy as np

total = np.sum(s)
print(total)

682.53

In [62]:
s = pd.Series(np.random.randint(0,50000,100000))
s.head()

0    13302
1    35973
2    28497
3    18340
4    37175
dtype: int32

In [66]:
import numpy as np
total=np.sum(s)
print(total)

2495013866

In [68]:
len(s)

100000

In [80]:
%%timeit -n 100
summary = 0
for item in s:
    summary+=item
print(summary)

2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
2495013866
43.1 ms ± 775 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [82]:
%%timeit -n 100
summary = np.sum(s)

1.53 ms ± 458 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [84]:
s+=2
s.head()

0    13306
1    35977
2    28501
3    18344
4    37179
dtype: int32

In [86]:
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s

0             1
1             2
2             3
Animal    Bears
dtype: object

In [87]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [89]:
original_sports

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [91]:
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket        Australia
Cricket         Barbados
Cricket         Pakistan
Cricket          England
dtype: object

In [93]:
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

In [95]:
df.loc['Store 2']

Name                  Vinod
Item Purchased    Bird Seed
Cost                    5.0
Name: Store 2, dtype: object

In [97]:
type(df.loc['Store 2'])

pandas.core.series.Series

In [98]:
df.loc['Store 1', 'Cost']

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [100]:
df.T.loc['Cost']

Store 1    22.5
Store 1     2.5
Store 2     5.0
Name: Cost, dtype: object

In [102]:
df.drop('Store 1')

          Name Item Purchased  Cost
Store 2  Vinod      Bird Seed   5.0

In [104]:
df

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

In [105]:
copy_df = df.copy()
copy_df = copy_df.drop('Store 1')
copy_df

          Name Item Purchased  Cost
Store 2  Vinod      Bird Seed   5.0

In [106]:
del copy_df['Name']
copy_df

        Item Purchased  Cost
Store 2      Bird Seed   5.0

In [107]:
df['Location'] = None
df

          Name Item Purchased  Cost Location
Store 1  Chris       Dog Food  22.5     None
Store 1  Kevyn   Kitty Litter   2.5     None
Store 2  Vinod      Bird Seed   5.0     None

In [110]:
df = pd.read_csv(r'C:\Users\KIIT\Downloads\ClassNotebooks\census.csv')
df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

In [112]:
df.fillna?

In [115]:
df = df.set_index('CENSUS2010POP')
df = df.sort_index()
df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
CENSUS2010POP,,,,,,,,,,,,,,,,,,,,,
82,50,3,7,48,301,Texas,Loving County,82,83,95,...,101.123596,-147.727273,239.130435,-178.947368,281.407035,101.123596,-147.727273,239.130435,-178.947368,281.407035
90,50,4,9,15,5,Hawaii,Kalawao County,90,90,90,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
286,50,3,7,48,269,Texas,King County,286,288,258,...,-128.205128,49.242424,7.380074,-37.453184,77.205882,-128.205128,45.454545,7.380074,-37.453184,77.205882
416,50,3,7,48,261,Texas,Kenedy County,416,418,440,...,25.641026,0.000000,-57.670127,-66.825776,-24.420024,37.296037,9.080590,-46.136102,-54.892601,-12.210012
460,50,2,4,31,5,Nebraska,Arthur County,460,464,469,...,4.287245,23.133544,-55.674518,8.830022,0.000000,4.287245,23.133544,-55.674518,8.830022,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12830632,40,2,3,17,0,Illinois,Illinois,12831549,12841249,12861882,...,-5.243330,-5.805172,-5.308960,-7.509147,-8.174675,-3.020410,-3.519051,-2.830379,-4.625216,-5.247030
18801310,40,3,5,12,0,Florida,Florida,18804623,18849890,19105533,...,5.556307,5.138184,4.847420,6.958576,10.080932,11.364173,10.676030,10.565882,13.478570,16.528676
19378102,40,1,2,36,0,New York,New York,19378087,19402920,19523202,...,-4.354557,-5.945385,-5.561401,-8.130297,-7.990563,1.439239,-0.402860,0.407960,-1.334639,-1.205321
25145561,40,3,7,48,0,Texas,Texas,25146105,25244363,25654464,...,4.527491,5.484904,4.446476,6.072953,6.248252,7.616364,8.660719,7.739851,9.780487,9.978697
37253956,40,4,9,6,0,California,California,37254503,37334079,37700034,...,-1.148464,-1.163788,-1.339869,-0.862856,-1.981572,2.761704,2.647127,2.728645,3.743342,2.656065

In [116]:
df = df.fillna(method='ffill')
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
CENSUS2010POP,,,,,,,,,,,,,,,,,,,,,
82,50,3,7,48,301,Texas,Loving County,82,83,95,...,101.123596,-147.727273,239.130435,-178.947368,281.407035,101.123596,-147.727273,239.130435,-178.947368,281.407035
90,50,4,9,15,5,Hawaii,Kalawao County,90,90,90,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
286,50,3,7,48,269,Texas,King County,286,288,258,...,-128.205128,49.242424,7.380074,-37.453184,77.205882,-128.205128,45.454545,7.380074,-37.453184,77.205882
416,50,3,7,48,261,Texas,Kenedy County,416,418,440,...,25.641026,0.000000,-57.670127,-66.825776,-24.420024,37.296037,9.080590,-46.136102,-54.892601,-12.210012
460,50,2,4,31,5,Nebraska,Arthur County,460,464,469,...,4.287245,23.133544,-55.674518,8.830022,0.000000,4.287245,23.133544,-55.674518,8.830022,0.000000